body {
   font-family: Arial, sans-serif;
}

#upload_form {
   border: 2px dashed #ccc;
   padding: 20px;
   text-align: center;
   width: 300px;
   margin: 0 auto;
   margin-top: 5%;
}

#file_drop_area {
   border: 2px dashed #ccc;
   padding: 20px;
   text-align: center;
}

#file_drop_area:hover {
   background-color: #e9e4e4;
}

#file_drop_area p {
   margin: 0;
}

#progressBar {
   width: 100%;
}

.btn-success-1 {
   margin-top: 10px;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #4caf50;
   color: white;
   border: none;
   cursor: pointer;
}

.btn-success-1:hover {
   background-color: #45a049;
}

.file-input-1 {
   display: none;
}

.btn-primary-1 {
   margin-top: 5px;
   display: inline-block;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #ccd5df;
   color: rgb(32, 31, 31);
   cursor: pointer;
   transition: background-color 0.3s ease;
   border: 1px solid #6682a0;
}

.btn-primary-1:hover {
   background-color: #0056b3;
   color: white;
}

#file_name {
   margin-top: 10px;
}
